
<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>@Resources.Resource.TituloApp|Dashboard |</title>
    <link rel="apple-touch-icon" href="~/Template/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Template/assets/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template/assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Template/assets/css/site.min.css">
    <link rel="stylesheet" href="~/Template/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Template/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Template/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Template/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Template/assets/vendor/flag-icon-css/flag-icon.css">

    <!-- Plugin -->
    <link rel="stylesheet" href="~/Template/assets/vendor/ladda-bootstrap/ladda.css">
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Template/assets/vendor/animsition/animsition.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Template/assets/vendor/chartist-js/chartist.css">
    <link rel="stylesheet" href="~/Template/assets/vendor/jvectormap/jquery-jvectormap.css">
    <!-- Page -->
    <link rel="stylesheet" href="~/Template/assets/css/~/fonts/weather-icons/weather-icons.css">
    <link rel="stylesheet" href="~/Template/assets/css/dashboard/v1.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="~/Template/assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Template/assets/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link href="~/Template/assets/vendor/animsition/animsition.css" rel="stylesheet" />
    <link href="~/Template/assets/vendor/animsition/animsition.min.css" rel="stylesheet" />
    <!-- Inline -->
    <link href="~/Template/docs/css/buttons.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="~/Template/assets/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/Template/assets/vendor/media-match/media.match.min.js"></script>
      <script src="~/Template/assets/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/Template/assets/vendor/modernizr/modernizr.js"></script>
    <script src="~/Template/assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="dashboard">

    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon wb-search" aria-hidden="true"></i>
            </button>

            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="~/Template/assets/images/logo.png" title="Remark">
                <span class="navbar-brand-text"> @Resources.Resource.TituloApp</span>
            </div>
        </div>
        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">


                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="hidden-xs" id="toggleFullscreen">
                        <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Toggle fullscreen</span>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu">
                        <li class="site-menu-category">
                            <a class="animsition-link" href="@Url.Action("Index", "Home", new { area=""},Request.Url.Scheme)" data-slug="dashboard-v1">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">@Resources.Resource.IndexHome</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub active open">

                            @if (User.Identity.Name == "isragoo.prez@gmail.com")
                            {
                                <a href="javascript:void(0)" data-slug="dashboard">
                                    <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">@Resources.Resource.TituloPanelAdmin</span>
                                   
                                </a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" data-slug="dashboard">
                                    <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">@Resources.Resource.TituloPanelUser</span>
                                </a>
                            }

                            <ul class="site-menu-sub">
                                <li class="site-menu-item active">
                                    <a class="animsition-link" href="@Url.Action("Index", "Home")" data-slug="dashboard-v1">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">@Resources.Resource.IndexHomeBuscar</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("AddDiary", "MagazinesStore")" data-slug="dashboard-v2">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">@Resources.Resource.AddDiaryMagazinesDiaryAgenda</span>
                                        <div class="site-menu-badge">
                                            <span class="badge badge-success">( @ViewBag.TotalMgzVirtual )</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("Index", "Magazine")" data-slug="dashboard-v2">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">@Resources.Resource.IndexMagazineMyRevistas</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="site-menu-category">OTHER</li>

                        <li class="site-menu-item">
                            <a class="animsition-link" href="@Url.Action("About", "Home", new { area = "" }, Request.Url.Scheme)" data-slug="angular">
                                <i class="site-menu-icon wb-hammer" aria-hidden="true"></i>
                                <span class="site-menu-title">@Resources.Resource.IndexHomeAcerca</span>
                                <div class="site-menu-label">
                                    <span class="label label-danger label-round">*</span>
                                </div>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="@Url.Action("Contact", "Home", new { area = "" }, Request.Url.Scheme)" data-slug="angular">
                                <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                                <span class="site-menu-title">@Resources.Resource.IndexHomeContactos</span>
                                <div class="site-menu-label">
                                    <span class="label label-danger label-round">*</span>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="site-menubar-footer">
            <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
               data-original-title="Settings">
                <span class="icon wb-settings" aria-hidden="true"></span>
            </a>
            <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
                <span class="icon wb-eye-close" aria-hidden="true"></span>
            </a>
            <a href="javascript:document.getElementById('logoutForm').submit()" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
                <span class="icon wb-power" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <!-- Page -->
    <div class="page animsition-link">
        <div class="page-content padding-30 container-fluid">
            <div class="row" data-plugin="matchHeight" data-by-row="true">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <span class="site-footer-legal">&copy; @DateTime.Now.Year UPM Universidad Polítecnica de Madrid</span>
        <div class="site-footer-right">
            Crated by  <i class="red-600 wb wb-info-circle"></i> <a href="https://www.facebook.com/isragoo.prez?ref=bookmarks">isragoo.prez</a>
        </div>
    </footer>

    <script src="~/Template/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Template/assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Template/assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/Template/assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/Template/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Template/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/Template/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="~/Template/assets/vendor/switchery/switchery.min.js"></script>
    <script src="~/Template/assets/vendor/intro-js/intro.js"></script>
    <script src="~/Template/assets/vendor/screenfull/screenfull.js"></script>
    <script src="~/Template/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <script src="~/Template/assets/vendor/ladda-bootstrap/spin.js"></script>
    <script src="~/Template/assets/vendor/ladda-bootstrap/ladda.js"></script>

    <script src="~/Scripts/alertify.min.js"></script>


    <!-- Scripts -->
    <script src="~/Template/assets/js/core.js"></script>
    <script src="~/Template/assets/js/site.js"></script>
    <script src="~/Template/assets/js/sections/menu.js"></script>
    <script src="~/Template/assets/js/sections/menubar.js"></script>
    <script src="~/Template/assets/js/sections/sidebar.js"></script>
    <script src="~/Template/assets/js/configs/config-colors.js"></script>
    <script src="~/Template/assets/js/configs/config-tour.js"></script>
    <script src="~/Template/assets/js/components/asscrollable.js"></script>
    <script src="~/Template/assets/js/components/animsition.js"></script>
    <script src="~/Template/assets/js/components/slidepanel.js"></script>
    <script src="~/Template/assets/js/components/switchery.js"></script>
    <script src="~/Template/assets/js/components/buttons.js"></script>
    <script src="~/Template/assets/js/components/ladda-bootstrap.js"></script>
    <script src="~/Template/assets/js/components/matchheight.js"></script>
    <script src="~/Template/assets/js/components/jvectormap.js"></script>

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
