@model IEnumerable<Magazine.Models.MagazineModels>
@using Magazine.Content.Utils
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

@if (TempData.Peek("SuccessMessage") != null)
{
    <input id="SuccessMessage" type="hidden" value="@TempData["SuccessMessage"]" />
}
else
{
    <input id="ErrorMessage" type="hidden" value="@TempData["ErrorMessage"]" />
}

<div class="container">
    <h2> REVISTAR FAVORITAS</h2>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">   </div>
            <div class="collapse navbar-collapse">
                @using (Html.BeginForm("Index", "Magazine", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="search" />

                    </div>
                    <button type="submit" value="Buscar" class="btn btn-success">Buscar</button>

                }
            </div>
        </div>
    </nav>
    <div>
        @grid.Table(
            tableStyle: "table table-responsive table-bordered",
            columns: grid.Columns(
                grid.Column(columnName: "Name", header: "Name"),
                grid.Column(columnName: "Country", header: "Country"),
                grid.Column(columnName: "Subjec", header: "Subjec"),
                grid.Column(columnName: "Publisher", header: "Publisher"),
                grid.Column(columnName: "PublicationType", header: "Pub.Type"),
                grid.Column(columnName: "ISSN", header: "ISSN"),
                grid.Column(columnName: "DateIn", header: "Reg.Date"),
                grid.Column(columnName: "Favorite", header: "Favorite"),
                grid.Column(header: "Edit", format: @<a class="btn btn-info" href="/Magazine/Edit/@item.Id">Edit</a>),
                grid.Column(header: "Details", format:@<a class="btn btn-warning" href="/Magazine/Details/@item.Id">Details</a>),
                grid.Column(header: "Delete", format:@<a class="btn btn-danger" href="/Magazine/Delete/@item.Id">Delete</a>)
                                                                )
                                                                )
    </div>
    <div class="row">
        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
    </div>
    @Html.Hidden("dir", grid.SortDirection)
    @Html.Hidden("col", grid.SortColumn)
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
                var successMessage = $("#SuccessMessage").val();
                if (successMessage != "" && successMessage != null) {
                    alertify.success(successMessage);
                    $("#SuccessMessage").val("");
                }
                var errorMessage = $("#ErrorMessage").val();
                if (errorMessage != "" && errorMessage != null) {
                    alertify.error(errorMessage);
                    $("#ErrorMessage").val("");
                }


            });

            (function () {
                try {
                    var dir = $('#dir').val();
                    var col = $('#col').val();
                    var header = $("th a[href*=" + col + "]");
                    if (dir == "Ascending") {
                        header.text(header.text() + " ▲")
                    }
                    if (dir == "Descending" && dir == "" && dir == null) {
                        header.text(header.text() + " ▼")
                    }
                } catch (e) {

                }
            })();

        })(document, window, jQuery);



    </script>
}


@*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>*@