@model IEnumerable<Magazine.Models.MagazineModels>
@using Magazine.Content.Utils


<!-- Stylesheets -->
<link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Template/assets/css/bootstrap-extend.min.css">
<link rel="stylesheet" href="~/Template/assets/css/site.min.css">

<link href="~/Template/assets/vendor/animsition/animsition.css" rel="stylesheet">
<link href="~/Template/assets/vendor/asscrollable/asScrollable.css" rel="stylesheet">
<link href="~/Template/assets/vendor/switchery/switchery.css" rel="stylesheet">
<link href="~/Template/assets/vendor/intro-js/introjs.css" rel="stylesheet">
<link href="~/Template/assets/vendor/slidepanel/slidePanel.css" rel="stylesheet">
<link href="~/Template/assets/vendor/flag-icon-css/flag-icon.css" rel="stylesheet">

<!-- Plugin -->
<link href="~/Template/assets/vendor/ladda-bootstrap/ladda.css" rel="tylesheet">
<link href="~/Template/docs/css/buttons.css" rel="stylesheet" />

<!-- Fonts -->
<link href="~/Template/assets/fonts/web-icons/web-icons.min.css" rel="stylesheet">
<link href="~/Template/assets/fonts/brand-icons/brand-icons.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic' rel="stylesheet">


<!--[if lt IE 9]>
  <script src="~/Template/assets/vendor/html5shiv/html5shiv.min.js"></script>
  <![endif]-->
<!--[if lt IE 10]>
  <script src="~/Template/assets/vendor/media-match/media.match.min.js"></script>
  <script src="~/Template/assets/vendor/respond/respond.min.js"></script>
  <![endif]-->
<!-- Scripts -->
<script src="~/Template/assets/vendor/modernizr/modernizr.js"></script>
<script src="~/Template/assets/vendor/breakpoints/breakpoints.js"></script>
<script>
    Breakpoints();
</script>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

@if (TempData.Peek("SuccessMessage") != null)
{
    <input id="SuccessMessage" type="hidden" value="@TempData["SuccessMessage"]" />
}
else
{
    <input id="ErrorMessage" type="hidden" value="@TempData["ErrorMessage"]" />
}

<div class="container">
    <h2> REVISTAS FAVORITAS</h2>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">   </div>
            <div class="collapse navbar-collapse">
                @using (Html.BeginForm("Index", "Magazine", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder=@Resources.Resource.IHSearch />
                    </div>
                    <button type="submit" value="Buscar" class="btn btn-primary">@Resources.Resource.IHSearch</button>
                }
            </div>
            <h5> @Resources.Resource.IHJournalsFound:<strong> @ViewBag.TotalRows </strong> </h5>
        </div>
    </nav>
    <div>
        @grid.Table(
                               tableStyle: "table table-responsive table-bordered",
                               columns: grid.Columns(
                                   grid.Column(columnName: "Favorite", header: "Favorite", format: @<a href="/Magazine/Edit/@item.Id" class="btn btn-icon btn-block @(item.Favorite==true ?" btn-danger ":" btn-default ") btn-outline"><i class="icon wb-heart" aria-hidden="true"></i></a> ),
                                            grid.Column(columnName: "Name", header: Resources.Resource.Name),
                                            grid.Column(columnName: "Country", header: Resources.Resource.Country),
                                            grid.Column(columnName: "Subjec", header: Resources.Resource.Subject),
                                            grid.Column(columnName: "Publisher", header: Resources.Resource.Publisher),
                                            grid.Column(columnName: "PublicationType", header: Resources.Resource.PubType),
                                            grid.Column(columnName: "ISSN", header: Resources.Resource.ISSN),
                                            grid.Column(columnName: "DateIn", header: Resources.Resource.RegDate),
                                                    grid.Column(header: Resources.Resource.Edit, format: @<a class="btn btn-info" href="/Magazine/Edit/@item.Id">@Resources.Resource.Edit</a>),
                                                                         grid.Column(header: Resources.Resource.Details, format:@<a class="btn btn-warning" href="/Magazine/Details/@item.Id">@Resources.Resource.Details</a>),
                                                                                             grid.Column(header: Resources.Resource.Delete, format:@<a class="btn btn-danger" href="/Magazine/Delete/@item.Id">@Resources.Resource.Delete</a>)
                                                                                                                                                                              )
                                                                                                                                                                              )
    </div>
    <div class="row">
        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
    </div>
    @Html.Hidden("dir", grid.SortDirection)
    @Html.Hidden("col", grid.SortColumn)
</div>

<!-- Core  -->
<script src="~/Template/assets/vendor/jquery/jquery.js"></script>

<!-- Plugins -->
<script src="~/Template/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<!-- Scripts -->
<script src="~/Template/assets/js/core.js"></script>
<script src="~/Template/assets/js/site.js"></script>

<script src="~/Template/assets/js/components/jquery-placeholder.js"></script>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
                var successMessage = $("#SuccessMessage").val();
                if (successMessage != "" && successMessage != null) {
                    alertify.success(successMessage);
                    $("#SuccessMessage").val("");
                }
                var errorMessage = $("#ErrorMessage").val();
                if (errorMessage != "" && errorMessage != null) {
                    alertify.error(errorMessage);
                    $("#ErrorMessage").val("");
                }

                $("#change").on('click', function (e) {
                    if ($("#check").is(':checked')) {
                        $("#check").attr('checked', false);
                    } else {
                        $("#check").attr('checked', true);
                    }
                });


            });

            (function () {
                try {
                    var dir = $('#dir').val();
                    var col = $('#col').val();
                    var header = $("th a[href*=" + col + "]");
                    if (dir == "Ascending") {
                        header.text(header.text() + " ▲")
                    }
                    if (dir == "Descending" && dir == "" && dir == null) {
                        header.text(header.text() + " ▼")
                    }
                } catch (e) {

                }
            })();

        })(document, window, jQuery);



    </script>
}

