@model IEnumerable<Magazine.Models.NsoupMagazineModels>
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <div class="col-sm-offset-2 col-md-4 col-md-offset-4">
        <h2 class="col-sm-12 control-label" style="text-align:center">SJR</h2>
        <h4 class="col-sm-12 control-label" style="text-align:center">Scimago Journal & Country Rank</h4>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            @Html.TextBox("filter", null, new { maxlength = 100, size = 10, @class = "form-control", placeholder = "Enter Journal Title, ISSN or Publisher Name" })
            <input type="submit" value="Search" class="btn btn-primary glyphicon glyphicon-search" />
            <input type="submit" value="Clear" onclick="location.href='@Url.Action("Index","Home")'" class="btn btn-primary glyphicon glyphicon-search" />
        }
    </div>
    <br />
</div>
<br />    <br />    <br />    <br />
<!-- Page -->
<div class="page-content">
    <!-- Panel -->
    <div class="panel">
        <div class="panel-body">
            <!-- Example Pricing List2 -->
            <div class="example-wrap">
                <h4 class="example-title">MAGAZINES FOUND</h4>
                <div class="example">



                    @if (Model != null)
                    {
                        <div class="row row-lg">


                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6 col-lg-3">
                                    <div class="pricing-list text-left">
                                        <div class="pricing-header bg-blue-600">
                                            <div class="pricing-title"> @Html.DisplayFor(modelItem => item.Name)</div>
                                            <div class="pricing-price">

                                                <img src="@Html.DisplayFor(modelItem => item.Image)" style=" width:150px;height:200px;">


                                            </div>
                                            <p class="padding-horizontal-30 padding-bottom-25">Vestibulum lacinia arcu eget nulla. Class aptent taciti</p>
                                        </div>
                                        <ul class="pricing-features">
                                            <li>
                                                <strong>    @Html.DisplayNameFor(model => model.Country) </strong> @Html.DisplayFor(modelItem => item.Country)
                                            </li>
                                            <li>
                                                <strong>@Html.DisplayNameFor(model => model.Publisher)</strong> @Html.DisplayFor(modelItem => item.Publisher)
                                            </li>

                                        </ul>
                                        <div class="pricing-footer text-center bg-blue-grey-100">
                                            @Ajax.ActionLink("Add", "AddDiary", "MagazinesStore", new { url = item.Url }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn btn-primary btn-lg" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h3 style="text-align:center"> @ViewBag.Message</h3>

                    }









                </div>
            </div>
            <!-- End Example Pricing List2 -->
        </div>
    </div>
    <!-- End Panel -->
</div>




