@model IEnumerable<Magazine.Models.MagazineStoreModels>
@*@model IEnumerable<Magazine.Models.MagazinesDiaryModels>*@

@{
    ViewBag.Title = "AddDiary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddDiary</h2>
@if (Model.Count() < 1)
{
    @ViewBag.Message;
}
else
{
    if (@ViewBag.MessageExist != string.Empty && @ViewBag.MessageExist != null)
    {
        @ViewBag.MessageExist
    }
    <p>
        @Html.ActionLink("Agregar Faboritos", "StoreMagazines", null, null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped">
        <thead class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hindexnumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hindexlegend)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subjec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISSN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coverage)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Imagen)" style=" width:200px;height:200px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hindexnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hindexlegend)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subjec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coverage)
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { url = item.Url }) |*@
                    @Html.ActionLink("Delete", "Delete", new { url = item.Url })
                </td>
            </tr>
        }

    </table>
}